<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- This website template was downloaded from http://www.nuviotemplates.com - visit us for more templates -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Your website name [www.your-website.com]; e-mail: info@your-website.com" />
    <meta name="copyright" lang="en" content="webdesign: Vit Dlouhy [Nuvio - www.nuvio.cz; NuvioTemplates - www.nuviotemplates.com]; e-mail: hello@nuviotemplates.com" />

    <meta name="description" content="..." />
    <meta name="keywords" content="..." />
    
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/scheme.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />

    <title>Your website name | Homepage</title>
</head>

<body>

<!-- Header -->
<div id="header">
    <div class="main">

        <!-- Your logo -->
        <h3 id="logo"><a href="#">Your <span>website</span> name</a></h3>
        
        <!-- Your slogan -->
        <p id="slogan">Place for your business slogan</p>    

        <hr class="noscreen" />
    
        <!-- Hidden navigation -->
        <p class="noscreen noprint"><em>Quick links: <a href="#content">content</a>, <a href="#nav">navigation</a>, <a href="#search">search</a>.</em></p>
        
        <hr class="noscreen" />

        <!-- Search form -->     
        <div id="search">
            <form action="" method="get">
            	<div>
                    <span class="noscreen">Fulltext:</span>
                    <input type="text" size="30" name="query" id="search-input" /><input type="submit" value="Search" id="search-submit" />
            	</div>
            </form>
        </div> <!-- /search -->

    </div> <!-- /main -->
</div> <!-- /header -->

<hr class="noscreen" />

<!-- Horizontal navigation -->
<div id="nav" class="box">
    <div class="main">
    
        <h3 class="noscreen">Navigation</h3>  
              
        <ul>
            <li id="nav-active"><a href="#">Homepage</a></li> <!-- Active page (highlighted) -->
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Products</a></li>
            <li class="last"><a href="#">Contact</a></li>
        </ul>

    </div> <!-- /main -->
</div> <!-- /nav -->

<hr class="noscreen" />

<!-- 2 columns (Content and Sidebar) -->
<div id="cols">
    <div class="main box">
    
        <!-- Content -->
        <div id="content">
        
            <!-- Perex -->            
            <div id="perex" class="box">
            
                <h1>Lorem ipsum dolor sit amet</h1>
                
                <p><img src="tmp/image.gif" width="200" height="150" alt="" class="f-right" />
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse sem massa, semperese vel, tempus nec, pretium ut, urna. 
                Cumest as sociisanes es <a href="#">natoque penatibus</a> et magnis dis parturiental montes, nascetur ridiculus mus. Phasellus 
                placerat esteane auctor nibh. Sed tincidunt consectetuer mauris. Estamm neaenean orci nullaeme, varius et, tempor vel, convallis 
                sit amet, felis. Nunc rutrum sem id ligula. Vestibulum suscipit nunc eu est. Nulla nonummy lacus nec sem. Integer id lectus. 
                Donec sit amet dolor ac nisl iaculis sagittis.</p>
                
            </div> <!-- /perex -->

            <div id="content-in" class="box">
        
                <!-- 3 sections -->
                <div class="box">
                
                    <!-- Section I -->
                    <div class="section">
                        <h3><a href="#">Section ONE</a></h3>
                        <p class="t-center"><a href="#"><img src="tmp/image.gif" width="200" height="150" alt="" /></a></p>
                    </div> <!-- /section -->
                    
                    <!-- Section II -->
                    <div class="section margin">
                        <h3><a href="#">Section TWO</a></h3>
                        <p class="t-center"><a href="#"><img src="tmp/image.gif" width="200" height="150" alt="" /></a></p>
                    </div> <!-- /section -->
                    
                    <!-- Section III -->
                    <div class="section fix">
                        <h3><a href="#">Section THREE</a></h3>
                        <p class="t-center"><a href="#"><img src="tmp/image.gif" width="200" height="150" alt="" /></a></p>
                    </div> <!-- /section -->
                
                </div> <!-- /box -->
    
                <h2>Lorem ipsum dolor sit amet</h2>
                            
                <p>Morbi quis ante estemel. Curabitur id orci. Quisque fringilla lacinia lectus. Vivamus vitae pede imperdiet neque consequat consectetuer. 
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum imperdiet. Pellentesque tempor, lacus ac 
                <a href="#">condimentum ornare</a>, orci diam lobortis libero, nec semper urna velit eu mauris. Duis tempor, nisl vel facilisis convallis, 
                lectus neque adipiscing erat, eu tincidunt nisl nisl eu odio. Aliquam mi sapien, venenatis sed, pellentesque in, porttitor convallis, turpis. 
                Mauris dapibus. Nullam dui. Nunc at eros quis mauris semper tincidunt. Phasellus elementum vulputate tortor. Vestibulum ante ipsum primis in 
                faucibus orci luctus et ultrices posuere cubilia Curae; Integer vel justo vitae enim suscipit ullamcorper.</p>
    
                <h3>Lorem ipsum dolor sit amet</h3>
                
                <ul class="ul-style01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet
                        <ul>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                            </li>
                            <li>Lorem ipsum dolor sit amet</li>
                        </ul>
                    </li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
    
                <h3>Lorem ipsum sit dolor amet</h3>
                
                <table class="table-style01">
                    <tr>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                        <th>Lorem ipsum</th>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr class="bg">
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr class="bg">
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                    </tr>
                </table>
        
            </div> <!-- /content-in -->
                    
        </div> <!-- /content -->

        <hr class="noscreen" />

        <!-- Sidebar -->
        <div id="aside">
        
            <h3>Lorem ipsum dolor sit amet</h3>
            
            <ul>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
            </ul>
            
            <h3>Lorem ipsum dolor sit amet</h3>
            
            <ul>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
                <li><a href="#">Lorem ipsum sit dolor amet</a></li>
            </ul>

            <hr class="noscreen" />
            
            <h3>Contact</h3>
            
            <address>
                <strong>Your website name</strong><br />
                Our Street 1557, Our City<br />
                <a href="#">your@email.com</a>
            </address>
        
        </div> <!-- /aside -->
    
    </div> <!-- /main -->
</div> <!-- /cols -->

<hr class="noscreen" />

<!-- Footer -->
<div id="footer">
    <div class="main">

        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->            
        <p class="f-right"><a href="http://www.nuviotemplates.com/">Free web templates</a> by <a href="http://www.nuvio.cz/">Nuvio</a> &ndash; sponzored by <a href="http://www.wellnesshotely.cz/">wellness hotely</a></p>
        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        
        <p>&copy;&nbsp;2008 <a href="#">Your website name</a></p>

    </div> <!-- /main -->
</div> <!-- /footer -->

</body>
</html>
