<h1>API description</h1>
<h2>Available versions:</h2>
<ul>
  <% @api[:versions].each do |v, info| %>
    <% next if v == :default %>
    <li>
      <a href="<%= info[:help] %>"><%= v.to_s %></a>
      <%= '(default)' if v == @api[:default_version] %>
    </li>
  <% end %>
</ul>
