name: CI

on:
  push:
    paths:
      - .github/workflows/ci.yml
      - api/**
      - client/**
      - console_router/**
      - libnodectld/**
      - nixos/**
      - nodectl/**
      - nodectld/**
      - packages/**
      - plugins/**
      - tests/**
      - tools/**
      - webui/**

permissions:
  contents: read

env:
  NIX_PATH: nixpkgs=https://channels.nixos.org/nixos-25.11/nixexprs.tar.xz
  VPSADMINOS_PATH: ${{ github.workspace }}/vpsadminos

jobs:
  test:
    name: Run ci-tagged tests
    runs-on: self-hosted
    timeout-minutes: 360

    steps:
      - name: Checkout vpsadmin
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checkout vpsadminos (test-runner)
        uses: actions/checkout@v4
        with:
          repository: vpsfreecz/vpsadminos
          path: vpsadminos
          fetch-depth: 1

      - name: Determine job count
        id: determine-test-jobs
        uses: vpsfreecz/vpsadminos/.github/actions/determine-test-jobs@staging
        with:
          per_job_gib: "20"

      - name: Run tests
        id: run-tests
        timeout-minutes: 320
        run: |
          set -o pipefail
          ./test-runner.sh test -f -j "${{ steps.determine-test-jobs.outputs.jobs }}" -t ci | tee test.log

      - name: Evaluate test results
        if: always()
        uses: vpsfreecz/vpsadminos/.github/actions/evaluate-test-results@staging
        with:
          log-file: test.log

      - name: Summarise test logs
        if: always()
        uses: vpsfreecz/vpsadminos/.github/actions/summarise-test-logs@staging

      - name: Upload full test logs
        if: failure()
        uses: vpsfreecz/vpsadminos/.github/actions/upload-test-logs@staging
        with:
          name: vpsadmin-test-logs-${{ github.run_id }}
